.collapsible-list__item--collapsed
{
    list-style:none;
    margin:0px;
    max-height:1.618em;
    margin-bottom:2px;
    overflow:hidden;
    padding-left:10px;
    font-weight:bold;
    transition: max-height 0.2s linear;
    position:relative;

    > a {
        cursor:pointer;
        width:100%;
        display:inline-block;
    }

    span.arrow-left {
        width:0;height:0;
        border-left:5px solid black;
        border-bottom:5px solid transparent;
        border-top:5px solid transparent;
        display:inline-block;
        transition: 0.1s linear;
    }

    .js-rotate {
        transform: rotate(90deg);
    }

}


ul.collapsible-list {
    padding-left:0px;
    margin-bottom:1em;
    margin-top:0px;
    clear:both;
}

.collapsible-list__item--collapsed.js-expanded {
    max-height:1000px;
}

