.indicacion {
    width:auto;
    margin:4px;
    padding:4px;
    padding-left:60px;
    background: url("../images/indicacion.png") no-repeat 4px center;
    background-color: #e2e2e2;
    background-size: 50px 50px;
}

